canvas {
  //   height: 36% !important;
  height: 56% !important;
  width: 100% !important;
}
.pieTitle {
  color: gray;
  font-size: 16px;
}

.pieDesc {
  color: gray;
  font-size: 13px;
  margin-bottom: 8px;
}
.trackingBenefits {
  color: gray;
  font-size: 14px;
}
.trackingBenefitsTitle {
  margin: 24px 0px -8px;
}
.txt1 {
  margin: 8px 0px;
}

ion-icon {
  color: green;
}
